body{
  font-family: $font-family-main;
  font-weight: $font-weight-normal;
  font-size: 18px;
  color: $color-main;
}

h1{
  font-size: 50px;
  font-weight: $font-weight-black;
}
h2{
  font-weight: $font-weight-black;
  font-size: 54px;
}

a{
  transition: all .3s ease;
  color: $color-main-light;
  font-weight: $font-weight-bold;

  &:hover,
  &:focus{
    color: $color-alt;
  }
}

img.alignnone{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px;
}
img.aligncenter{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px auto;
}
img.alignright{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px 0px 25px 25px;
}
img.alignleft{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px 25px 25px 0;
}

.btn-main{
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 40px;
  background-color: $color-alt;
  text-align: center;
  font-weight: $font-weight-normal;

  &:hover,
  &:focus{
    background-color: $color-main-light;
    color: #fff;
    text-decoration: none;
  }
}

section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.vertical-flag{
  float: right;
  margin-top: -40px;
}

@include media-breakpoint-down(sm){
  .vertical-flag{
    display: none;
  }
}

#faq-accordion{
  .card{
    border:none;
  }

  .card-header{
    background: transparent;
    border-bottom: none;
    padding: 0;

    h4{
      margin-bottom: 0;
    }

    .btn-link{
      font-size: 24px;
      color: $color-main;
      font-weight: $font-weight-bold;
      font-style: italic;
      text-align: left;
    }
  }

  .card-body{
    padding-top: 0;
  }
}