$font-family-main: "Lato", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$color-main: #041637;
$color-main-dark: #071620;
$color-main-light: #3375bb;
$color-alt: #ff3115;
